@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Bold.woff2') format('woff2'),
        url('SFRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Black.woff2') format('woff2'),
        url('SFRounded-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Heavy.woff2') format('woff2'),
        url('SFRounded-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Light.woff2') format('woff2'),
        url('SFRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Regular.woff2') format('woff2'),
        url('SFRounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Medium.woff2') format('woff2'),
        url('SFRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Semibold.woff2') format('woff2'),
        url('SFRounded-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Thin.woff2') format('woff2'),
        url('SFRounded-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Ultralight.woff2') format('woff2'),
        url('SFRounded-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

