/* app.css */
:root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft YaHei', Roboto, Oxygen-Sans,
        Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --font-color: #172b4d;
}
/* salmon */

[indent='1'] {
    margin-left: 2em;
}
[indent='2'] {
    margin-left: 4em;
}
[indent='3'] {
    margin-left: 6em;
}
[indent='4'] {
    margin-left: 8em;
}
[indent='5'] {
    margin-left: 10em;
}
[indent='6'] {
    margin-left: 12em;
}

body {
    padding: 0.5em;
}

body {
    font-family: var(--font-family);
}

p,
pre {
    margin: 0.5em 0 0.5em 0;
    font-weight: 400;
    font-size: 14px;
}

a {
    color: #c30000;
    text-decoration: none;
    font-family: Arvo, Monaco, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-bottom: 0.5em;
    color: #c30000;
}
h1,
h2,
h3 {
    display: block;
    font-family: Arvo, Monaco, serif;
    line-height: 1.3;
    font-weight: normal;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}
