doctype html

head 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(src='./global_configurations.js')
    script(src='./register_elements.js')

body !{content}
